 @media only screen and (min-width: 768px) {

  /* For smaller desktops/ Large tablets: */
  .desktop-only {
    display: inline-block;
  }

  .mobile-only {
    display: none;
  }

  #hero {
    min-height: 47.7vw;
  }

  #hero h1 {
    font-size: 8vw;
    padding-top: 2vw;
  }

  #credit-card-call-to-action {
    padding: 40px;
  }

  #credit-card-call-to-action .call-to-action__card {
    background-color: #FFFFFF;
    padding: 40px 56px;
  }

  #credit-card-call-to-action .call-to-action__header {
    padding: 0px;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 32px;
  }

  #credit-card-call-to-action .call-to-action__card__header {
    font-size: 20px;
    line-height: 20px;
  }

  #credit-card-call-to-action .call-to-action__card__reviews_text {
    font-size: 15px;
    line-height: 20px;
  }

  #credit-card-call-to-action .call-to-action__card__list {
    font-size: 18px;
  }

  #apply-btn {
    margin-top: 24px;
    height: 40px;
  }

  .call-to-action__card__rates_link {
    font-size: 18px;
    line-height: 34px;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktops: */
  .call-to-action__card__wrapper {
    display: flex;
    align-items: top;
  }
  .call-to-action__card__list {
    margin-left: 40px;
  }

  .call-to-action__card__image + div {
    justify-content: flex-start;
  }

  .call-to-action__card__chip {
    margin-top: 12px;
  }
}